<div style="max-width: 400px; margin: 100px auto; padding: 1rem; border: 1px solid #ccc; border-radius: 8px; color: black; font-family: camiloFont;">
  <h2 style="text-align: center; font-family: camiloFont; font-size: 3.1rem;">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { style: 'display: flex; flex-direction: column; font-size: 2.5rem;' }) do |f| %>
    <div class="form-inputs" style="margin-bottom: 1rem;">
      <div style="margin-bottom: 1rem;">
        <%= f.label :email, "Email", style: 'margin-right: 44px;' %>
        <%= f.input_field :email, required: false, autofocus: true, input_html: { autocomplete: "email", style: 'width: 100%; padding: 0.5rem; margin-top: 0.5rem;' } %>
      </div>

      <div style="margin-bottom: 1rem;">
        <%= f.label :password, "Password" %>
        <%= f.input_field :password, required: false, input_html: { autocomplete: "current-password", style: 'width: 100%; padding: 0.5rem; margin-top: 0.5rem;' } %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div style="display: flex; align-items: center; margin-bottom: 1rem; font-size: 2.5rem; justify-content: center;">
          <%= f.check_box :remember_me, style: 'margin-right: 1.0rem;' %>
          <%= f.label :remember_me, "Remember me" %>
        </div>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", style: 'width: 50%; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 2.5rem;' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

