<!DOCTYPE html>
<html>
<head>
  <title>SLOWWAVE</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Include the correct Vite JavaScript file -->
  <%= vite_client_tag %> <!-- Vite's client-side HMR -->
  <%= vite_javascript_tag 'application' %> <!-- Correctly reference the Vite entrypoint -->

</head>

<body>
<%= render 'shared/header' %>
<%= render 'shared/flashes' %>

<%= yield %>

<% unless controller_name == 'pages' && action_name == 'about' %>
  <%= render 'shared/footer' %>
<% end %>

</body>
</html>
